---
layout: default
---
<style>
  .rightfloat {
    float: right;
    margin-left: 15px;
    margin-top: 7px;
    width: 60%;
  }

  .leftfloat {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
    width: 60%;
  }

  @media only screen and (max-width: 767px) {
    .rightfloat {
        float: none; /* change to no float for small screens */
        display: block; /* change to block element */
        margin: 0 auto; /* center element horizontally */
        width: 85%;
    }
    .leftfloat {
        float: none; /* change to no float for small screens */
        display: block; /* change to block element */
        margin: 0 auto; /* center element horizontally */
        width: 85%;
    }
  }
</style>
{%-include back_link.html-%}
<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>
